body {
    margin: 0;
    padding: 0;
    background-color: #436A36;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.titulo {
    font-weight: 300;
    position: fixed;
    top: 10px;
    right: 100px;
    padding: 30px;
    font-size: 90px;
    color: #DAC7AB;
    text-align: center;
}

.subtitulo {
    font-weight: 300;
    position: absolute;
    width: 500px;
    right: 100px;
    top: 100px;
    font-size: 30px;
    color: #DAC7AB;
    text-align: center;
}

.p1 {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    left: 200px;
    top: 300px;
    color: #DAC7AB;
    text-align: center;
}

.iniciosesion, .registrarse {
    position: fixed;
    width: 30%;
    height: 70px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.iniciosesion {
    bottom: 250px;
    left: 150px;
    background: #C28A35;
    color: white;
}

.iniciosesion:hover {
    background: #A67C42;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.iniciosesion:active {
    background: #8B5E34;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.registrarse {
    bottom: 150px;
    left: 150px;
    background: #DAC7AB;
    color: #544B3D;
}

.registrarse:hover {
    background: #ceab77;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.registrarse:active {
    background: #926e3b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.workoffice {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.25));
}

.forma {
    position: absolute;
    width: 300px;
    height: 400px;
    top: -20px;
    left: -10px;
}